:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #374131;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.4em;
  padding: 0;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  margin: 0.5em;
  min-width: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.group {
  display: flex;
  flex-direction: column;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.error-box {
  display: flex;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #bd0505;
}